.grouping:before,
.grouping:after {
  content: " ";
  display: table;
} .grouping:after {
  clear: both;
}

/**********
Basic Styles
**********/

body {
  background-color: #dcdcdc;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

a {
  text-decoration: none;
  color: #eb2428;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  color: #0072ae;
  margin-bottom: 10px;
}

h2 {
  font-weight:700;
  font-size: 30px;
  color: #eb2428;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
  font: normal normal 18px/1.6 Georgia, 'Times New Roman', serif;
}

/**********
Article Styles
**********/
.intro-content {
  width: 100%;
  padding-bottom: 80px;
}

.content-block {
  padding: 50px 0;
}

.content-block .figure {
  margin: 30px;
  float: left;
}

.content-block h1 {
  color: #fff;
}

.content-block p {
  font-family: Georgia, 'Times New Roman' sans-serif;
}

.style-2 {
  background-color: #494949;
}

.style-2 p {
  color: #fff;
}

.style-1 {
  background-color: #58C9EB;
}

/**********
Columns
**********/

.secondary-section {
  margin-bottom: 50px;
  background-color: #7EEEAF;
}

.column {
  float: left;
  width: 300px;
  margin-left: 30px;
}

.column:first-child {
  margin-left: 0;
}

/**********
Buttons
**********/
.button {
  border: 2px solid #333;
  color: #333;
  padding: 10px 0;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
}
