.grouping:before,
.grouping:after {
  content: " ";
  display: table;
} .grouping:after {
  clear: both;
}

/**********
Basic Styles
**********/

body {
  background-color: #dcdcdc;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

a {
  text-decoration: none;
  color: #eb2428;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  color: #0072ae;
  margin-bottom: 10px;
}

h2 {
  font-weight:700;
  font-size: 30px;
  color: #eb2428;
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
  font: normal normal 18px/1.6 Georgia, 'Times New Roman', serif;
}

/**********
Nav Styles
**********/
.primary-nav > li {
  float: left;
}

.primary-nav > li > a {
  padding: 25px 0;
  width: 150px;
  border-left: 1px solid #ada791;
}

nav li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #766e65;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  -webkit-transition: 0.15s background-color linear;
  -moz-transition: 0.15s background-color linear;
  -o-transition: 0.15s background-color linear;
  transition: 0.15s background-color linear;
}

/**********
Modular Styles
**********/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/**********
Article Styles
**********/
.intro-content {
  width: 100%;
  padding-bottom: 80px;
}

.content-block {
  padding: 50px 0;
}

.content-block .figure {
  margin: 30px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
}
.content-block .figure img {
  float: left;
  -webkit-transition: .25s all ease-in-out;
  -moz-transition: .25s all ease-in-out;
  -o-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
}
.content-block .figure img:hover {
  -webkit-transform: rotate(15deg) scale(1.25, 1.25);
  -moz-transform: rotate(15deg) scale(1.25, 1.25);
  -ms-transform: rotate(15deg) scale(1.25, 1.25);
  -o-transform: rotate(15deg) scale(1.25, 1.25);
  transform: rotate(15deg) scale(1.25, 1.25);
}

.content-block h1 {
  color: #fff;
}

.content-block p {
  font-family: Georgia, 'Times New Roman' sans-serif;
}

.style-2 {
  background-color: #494949;
}

.style-2 p {
  color: #fff;
}

.style-1 {
  background-color: #58C9EB;
}

/**********
Columns
**********/

.secondary-section {
  margin-bottom: 50px;
  background-color: #7EEEAF;
}

.column {
  float: left;
  width: 300px;
  margin-left: 30px;
}

.column:first-child {
  margin-left: 0;
}

/**********
Buttons
**********/
.button {
  border: 2px solid #333;
  color: #333;
  padding: 10px 0;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  -webkit-transition: .25s all ease-in-out;
  -moz-transition: .25s all ease-in-out;
  -o-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
  transform: scale(.9, .9);
}

.button:focus,
.button:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.1, 1.1) translate(0, -5px);
}

.button-narrow {
  width: 25%;
}

.button-alt {
  color: #fff;
  border-color: #fff;
}

/**********
Action Button
**********/
.intro-content {
  width: 360px;
  margin-right: 60px;
  float: left;
}

.action-content {
  width: 300px;
  float: left;
  margin-top: 125px;
}

.call-to-action {
  border: 2px solid #fff;
  color: #fff;
  padding: 25px 0;
  display: block;
  text-align: center;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  -webkit-transition: .25s all ease-in-out;
  -moz-transition: .25s all ease-in-out;
  -o-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;

  /* Ultimate CSS Gradient Generator
  http://www.colorzilla.com/gradient-editor/ */
  background: #0072ae; /* Old browsers */
  background: -moz-linear-gradient(top, #33d3ff 0%, #0071ae 73%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #33d3ff 0%,#0071ae 73%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #33d3ff 0%,#0071ae 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33d3ff', endColorstr='#0071ae',GradientType=0 ); /* IE6-9 */
}

.call-to-action:hover {
  border-color: #0072ae;
  color: #0072ae;
  background: none;
}
