/**********
Basic Styles
**********/

section {
  margin: 50px;
}

h1 {
  font-size: 70px;
  line-height: 1.4;
  font-weight: bold;
  color: #0072ae;
  background-color: black;
  padding: 50px;
  margin: 50px;
  border: 10px solid blue;
}

.alt-headline {
  font-size: 40px;
}

h2 {
  font-size: 26px;
  font-style: italic;
  color: #eb2428;
  margin-bottom: 10px;
}

.secondary-section h2 {
  font-style: normal;
  color: #0072ae;
  font-weight: bold;
}

p {
  font: normal normal 18px/1.6 Georgia, 'Times New Roman', serif;
}
