*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: #55a;
}

#contain-all {
  height: 275px;
  width: 600px;
  top: 50px;
  left: 50px;
  position: relative;
}

#controller {
  display: block;
  position: absolute;
  background: #eee;
  width: 90%;
  height: 90%;
  border-radius: 5px;
  border: 5px solid #888;
}
#controller::after {
  content: '';
  display: block;
  position: absolute;
  background: #000;
  top: 15%;
  right: 4%;
  left: 4%;
  bottom: 5%;
  border-radius: 3px;
  border: 5px solid #111;
}

.dpad {
  display: block;
  position: absolute;
  background: #eee;
  top: 55%;
  right: 73%;
  left: 10%;
  bottom: 32%;
}
.dpad:after {
  display: block;
  position: absolute;
  background: #111;
  z-index: 999;
  top: 10%;
  right: 5%;
  left: 5%;
  bottom: 10%;
  content: '';
}

#vert {
  transform: rotate(90deg);
}

#detail {
  position: absolute;
  top: 17%;
  left: 30%;
  right: 45%;
  bottom: 18%;
  background: #9ab;
}

.btn {
  display: block;
  position: absolute;
  top: 55%;
  right: 19%;
  left: 72%;
  bottom: 26%;
  border-radius: 4px;
  background: #eee;
}
.btn:after {
  content: '';
  position: absolute;
  top: 10%;
  right: 10%;
  left: 10%;
  bottom: 10%;
  background: red;
  border-radius: 100%;
}

#btn_b {
  left: 58%;
  right: 33%;
}
#btn_a {
  left: 70%;
  right: 21%;
}
